# Répertoires générés automatiquement par PyInstaller
build/
dist/
poppler/

#poppler specific
copy_poppler.bat

# Fichiers PyInstaller
*.spec

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# No EXE
*.exe
